@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22d4fd;
    --color-hover: #272727;

    --fuente-montserrat: 'Montserrat',sans-serif;
    --fuente-Krona: 'Krona One',sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color:var(--color-primario);/*hsl(282, 80%, 14%);*/
    color: var(--color-secundario);
}

.header {
    padding: 2% 0% 0% 13%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu--link {
    font-family: var(--fuente-montserrat);
    font-size:1.5rem;
    font-weight:600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 7% 13%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido--titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-Krona);
}


.titulo-destacado {
    color: var(--color-terciario);
}

.presentacion__contenido--texto {
    font-size:1.5rem;
    font-family: var(--fuente-montserrat);
}


.presentacion__enlaces {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.25rem;
}

.presentacion__enlaces--subtitulo {
    font-family: var(--fuente-Krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlace--link {
    width: 50%;
    text-align: center;
    padding:21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600px;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content:center;
    gap: 10px;
}

.presentacion__enlace--link:hover {
    background-color: var(--color-hover);
    padding: 3%;
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }
    .header__menu {
        justify-content: center;
        gap: 30px;      
    }
     .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
     }

     .presentacion__contenido {
        width: auto;
     }
       
}